modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.production]
ADMIN_EMAIL = "cponce123.com@gmail.com"
ADMIN_NAME = "Administrador"
ADMIN_PASSWORD = "Hadrones456%"

[userenv.shared]
EMAIL_USER = "cponce123.com@gmail.com"
EMAIL_PASS = "qfbqaqbbwrmrtbjv"
APP_URL = "https://legadoapp.replit.app"
